{% extends 'core/base.html' %}
<h1> Phone Management System</h1>

{% if user.is_authenticated %}
<p>Welcome, {{ user.username }} | <a href="{% url 'logout' %}">Logout</a></p>
<ul>
    <li><a href="{% url 'phone_list' %}">View All Phones</a></li>
    <li><a href="{% url 'phone_add' %}">Add Phone</a></li>
    <li><a href="{% url 'customer_list' %}">View All Customers</a></li>
    <li><a href="{% url 'customer_add' %}">Add Customer</a></li>
{% else %}
<p><a href="{% url 'login' %}">Login</a></p>
{% endif %}
